<style>

</style>
<!DOCTYPE html>
<html ng-app="movieCatalog">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/movieCatalogController.js"></script>
  <script src="scripts/myCatalog.factory.js"></script>
  <link rel="stylesheet" href="../public/css/other.css">
  <title>Filmes que já assisti</title>

</head>


<body ng-controller="movieCatalogController">

  <nav class="navbar navbar-inverse bg-dark">
    <a class="navbar-brand" href="#">
      Catalogo de filmes
    </a>
  </nav>

  <section>

    <!-- <div class="input-group"> -->
      <span class="input-group-btn justify-content-end">
      <input ng-model="search" type="text" placeholder="Search..." class="form-control w-25 mt-2 mr-2 d-flex">
      </span>
  </div>

  <!--  FIM DO CAROSEEEEEL-->
  <div class="container">
    <div class="card-deck mt-2">
      <div ng-repeat="catalogado in movies.catalogo | filter: search" class="mb-2">
        <div  class="card c-pointer"data-toggle="modal" data-target=#{{catalogado.id}} ng-click="movieCatalogController.trocaFilme(movie)" style="width: 20rem;">
          <img class="card-img-top h-25 d-inline-block" src= {{catalogado.url}} alt="Card image cap">
          <div class="card-block">
            <h3 class="card-title">{{catalogado.titulo}}</h3>
            <p class="card-text">{{catalogado.descricao}}</p>
            <!--  FOR GOD REFACTOR that xxxx -->
            <div ng-if = "catalogado.estrelas === 5">
              <span class="text-warning fa fa-star"></span>
              <span class="text-warning fa fa-star"></span>
              <span class="text-warning fa fa-star"></span>
              <span class="text-warning fa fa-star"></span>
              <span class="text-warning fa fa-star"></span>
            </div>

            <div ng-if = "catalogado.estrelas === 4">
              <span class="text-warning fa fa-star"></span>
              <span class="text-warning fa fa-star"></span>
              <span class="text-warning fa fa-star"></span>
              <span class="text-warning fa fa-star"></span>
              <span class="fa fa-star "></span>
            </div>
            <div ng-if = "catalogado.estrelas === 3">
              <span class="text-warning fa fa-star"></span>
              <span class="text-warning fa fa-star"></span>
              <span class="text-warning fa fa-star"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
            </div>
            <div ng-if = "catalogado.estrelas === 2">
              <span class="text-warning fa fa-star"></span>
              <span class="text-warning fa fa-star"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
            </div>
            <div ng-if = "catalogado.estrelas === 1">
              <span class="text-warning fa fa-star"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
            </div>
            <div ng-if = "catalogado.estrelas === 0">
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
            </div>
            <!-- <button class="btn btn-primary" data-toggle="modal" data-target=#{{catalogado.id}} ng-click="movieCatalogController.trocaFilme(movie)">Mais informações</button> -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id={{catalogado.id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{catalogado.titulo}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <span>Descrição: {{catalogado.descricao}}</span>
                  <br>
                  <span>URL: {{catalogado.url}}</span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!--  novas moda sl-->
        </div>
      </div>

    </div>
  </div>

</section>

</body>
</html>
